* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  nav .container-fluid .logo {
    width: 5%;
  }
  main .max-width {
    max-width: 1200px;
    text-align: center;
    margin: auto;
  }
  main .top__seller .products__mq {
    display: flex;
  }
  main .products-mq768 {
    display: flex;
  }
  main .products-mq768 .card-text {
    font-size: 16px;
  }
  main .socials {
    font-size: 24px;
  }
  main .section__form h3 {
    font-size: 40px;
  }
  main .section__form p {
    font-size: 24px;
  }
  main .section__form .form {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  main .top__seller .products__mq {
    display: flex;
    justify-content: center;
  }
  main .users__opinions {
    font-size: 32px;
    width: 60%;
    margin: auto;
  }
  main .title {
    width: 70%;
    text-align: center;
    margin: auto;
    transition: 0.4s ease;
  }
  main .title:hover {
    transform: scale(1.1);
  }
  main .products-mq1200px {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  main .card--mq1200px {
    width: 60%;
    text-align: center;
    margin: auto;
  }
  main .mq-flex-1200px {
    display: flex;
    justify-content: center;
  }
  main .mq-flex-1200px .about-img {
    width: 100%;
    margin: 1rem;
    text-align: center;
  }
}
header nav div .logo {
  width: 15%;
  border-radius: 10%;
  display: flex;
}
header nav div ul li a {
  margin-left: 15px;
}
header nav div ul li:hover {
  background-color: rgba(106, 155, 172, 0.2);
  border-radius: 30%;
}

footer {
  padding-top: 2rem;
  background-color: black;
}
footer div {
  display: flex;
  justify-content: space-around;
}
footer div a img {
  margin: 1rem 0;
}
footer div h5 {
  text-align: center;
  margin: auto;
  margin-top: 0.5rem;
  background-color: rgb(190, 185, 185);
  color: white;
  padding: 0 10px;
  border-radius: 10%;
}

main {
  background-color: rgb(68, 65, 65);
}
main h1 {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  border: 2px solid black;
}
main .background img {
  object-fit: cover;
  width: 100%;
}
main .top__seller h3 {
  width: auto;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  border-radius: 10%;
  border: 2px solid black;
}
main .products__mq .products__card {
  width: auto;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  transition: 0.4s ease;
}
main .products__mq .products__card:hover h2 {
  transform: scale(1.03);
}
main .products__mq .products__card h2 {
  z-index: 2;
  background-color: rgb(255, 165, 0);
  width: 20%;
  position: absolute;
  border-radius: 10%;
}
main .products__mq .products__card a img {
  width: 100%;
}
main .products__mq .products__card a video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
}
main .products__mq .products__card a video:hover {
  opacity: 1;
  border-radius: 1%;
}
main .users__opinions h3 {
  width: auto;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  border-radius: 15%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 2% 8%;
}
main .users__opinions .carousel-item {
  width: 96%;
}
main .users__opinions .carousel-item .users__opinion--card {
  width: 90%;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
}
main .users__opinions .carousel-item .users__opinion--card div {
  text-align: center;
}
main .users__opinions .carousel-item .users__opinion--card div img {
  width: 30%;
  border-radius: 50%;
}

main {
  overflow: hidden;
}
main .title {
  display: flex;
  justify-content: center;
}
main .title h2 {
  width: 96%;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  text-align: center;
  width: auto;
  border-radius: 20%;
}
main section .card--games {
  width: 96%;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  transition: 1s ease;
}
main section .card--games:hover .price_tag {
  transform: scale(1.03);
  opacity: 0;
}
main section .price_tag {
  background-color: rgb(255, 165, 0);
  position: absolute;
  margin-left: -8%;
  bottom: 0;
  padding: 2%;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
}
main section h5 {
  background-color: rgba(0, 0, 0, 0.2);
}
main section .card-text {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
main section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  margin: auto;
}
main section video:hover {
  opacity: 1;
  border-radius: 1%;
}

main .title {
  display: flex;
  justify-content: center;
}
main .title h2 {
  width: 96%;
  background-color: rgb(104, 191, 206);
  margin: 2% 2% 0 2%;
  padding: 2%;
}
main section .card--product {
  border-radius: 5%;
  width: 96%;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  transition: 1s ease;
}
main section .card--product:hover {
  transform: scale(1.03);
}
main section .card--product img {
  border-radius: 20%;
  width: 60%;
  margin: 0 auto;
}
main section .card--product h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main section .card--product ul {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0.3rem auto;
  width: auto;
  border-radius: 8%;
}
main section .card--product ul li {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem 3rem;
  font-size: 32px;
}
main section .card--product button {
  background-color: rgba(76, 76, 221, 0.7);
  padding: 1rem;
  margin: 0.3rem auto;
  border-radius: 4%;
  width: auto;
  color: black;
  font-size: 20px;
  text-decoration: none;
}
main section .card--product button:hover {
  background-color: rgb(104, 191, 206);
}

main .socials h2 {
  background-color: rgb(190, 185, 185);
  text-align: center;
  padding: 1rem;
}
main .socials .socials__mq {
  display: flex;
  justify-content: center;
}
main .socials .socials__mq .socials__card {
  transition: 0.4s ease;
  width: auto;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  border-radius: 10%;
}
main .socials .socials__mq .socials__card:hover {
  transform: scale(1.1);
}
main .socials .socials__mq .socials__card a img {
  width: 20%;
}
main .section__form {
  width: auto;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  border-radius: 5%;
}
main .section__form .form {
  width: 100%;
}
main .section__form .form__card {
  display: block;
  justify-content: center;
}
main .section__form .form__card .form {
  display: block;
  justify-content: center;
}
main .section__form .form__card .form input {
  border: 2px solid black;
  border-radius: 5%;
  margin-top: 0.5rem;
}
main .section__form .form__card .form input:hover {
  background-color: rgb(104, 191, 206);
}
main .section__form .form__card .form textarea {
  border: 2px solid black;
  border-radius: 5%;
  margin-top: 0.5rem;
}
main .section__form .form__card .form .form__button {
  text-align: center;
  width: 100%;
}
main .section__form .form__card .form .form__button:hover {
  background-color: rgb(104, 191, 206);
}

main {
  padding: 2rem;
}
main .about {
  padding: 2rem;
  background-color: rgb(190, 185, 185);
  border: 2px solid black;
  border-radius: 5%;
  transition: 0.4s ease;
}
main .about:hover {
  transform: scale(1.05);
}
main .about h2 {
  transition: 0.4s ease;
}
main .about h2:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.2);
}
main .about h2 p {
  margin-top: 2rem;
  transition: 0.4s ease;
}
main .about h2 p:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.2);
}
main .card {
  padding: 0.5rem;
  background-color: rgb(190, 185, 185);
  margin-top: 1rem;
  transition: 0.4s ease;
  border: 2px solid black;
}
main .card:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
