* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav div .logo {
  width: 15%;
  border-radius: 10%;
  display: flex;
}
header nav div ul li a {
  margin-left: 15px;
}
header nav div ul li:hover {
  background-color: rgba(106, 155, 172, 0.2);
  border-radius: 30%;
}

footer {
  margin-top: 2rem;
  background-color: rgb(190, 185, 185);
}
footer div {
  display: flex;
  justify-content: space-around;
}
footer div a img {
  margin: 1rem 0;
}
footer div h5 {
  text-align: center;
  margin: auto;
  margin-top: 0.5rem;
  background-color: black;
  color: white;
  padding: 0 10px;
  border-radius: 10%;
}

main {
  background-color: rgb(68, 65, 65);
}
main .background img {
  object-fit: cover;
  width: 100%;
}
main .top__seller h3 {
  width: auto;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  border-radius: 10%;
}
main .products__mq .products__card {
  width: auto;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  transition: 0.4s ease;
}
main .products__mq .products__card:hover {
  transform: scale(1.2);
}
main .products__mq .products__card h2 {
  z-index: 2;
  background-color: rgb(255, 165, 0);
  width: 20%;
  position: absolute;
  border-radius: 10%;
}
main .products__mq .products__card a img {
  width: 100%;
}
main .users__opinions h3 {
  width: auto;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  border-radius: 15%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 2% 8%;
}
main .users__opinions .carousel-item {
  width: 96%;
}
main .users__opinions .carousel-item .users__opinion--card {
  width: 90%;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
}
main .users__opinions .carousel-item .users__opinion--card div {
  text-align: center;
}
main .users__opinions .carousel-item .users__opinion--card div img {
  width: 30%;
  border-radius: 50%;
}

main .title {
  display: flex;
  justify-content: center;
}
main .title h2 {
  width: 96%;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  text-align: center;
  width: auto;
  border-radius: 20%;
}
main section .card {
  width: 96%;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  transition: 0.4s ease;
}
main section .card:hover {
  transform: scale(1.03);
}
main section h5 {
  background-color: rgba(0, 0, 0, 0.2);
}
main section p {
  background-color: rgba(0, 0, 0, 0.2);
}
main section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
}
main section video:hover {
  opacity: 1;
  border-radius: 1%;
}

.card {
  width: 96%;
  background-color: rgb(190, 185, 185);
  margin: 2% 2% 0 2%;
  padding: 2%;
  transition: 0.4s ease;
}
.card:hover {
  transform: scale(1.1);
}
.card h5 {
  background-color: rgba(0, 0, 0, 0.2);
}
.card p {
  background-color: rgba(0, 0, 0, 0.2);
}
.card video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.card video:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
