footer {
  margin-top: 2rem;
  background-color: $background-card;
  div {
    display: flex;
    justify-content: space-around;
    a {
      img {
        margin: 1rem 0;
      }
    }
    h5 {
      text-align: center;
      margin: auto;
      margin-top: 0.5rem;
      background-color: black;
      color: white;
      padding: 0 10px;
      border-radius: 10%;
    }
  }
}
