@mixin margin-padding($width, $background) {
  width: $width;
  background-color: $background;
  margin: 2% 2% 0 2%;
  padding: 2%;
}

$background: rgb(68, 65, 65);
$background-card: rgb(190, 185, 185);
$price-tag: rgb(255, 165, 0);
